Issued Time: 2 Tensor: 1 From: Not_Known, To: In_gpu tag: output
Issued Time: 3 Tensor: 5 From: Not_Known, To: In_gpu tag: output
Issued Time: 4 Tensor: 1 From: In_gpu, To: In_cpu tag: output
Issued Time: 6 Tensor: 5 From: In_gpu, To: In_cpu tag: output
Issued Time: 8 Tensor: 39 From: Not_Known, To: In_gpu tag: output
Issued Time: 9 Tensor: 43 From: Not_Known, To: In_gpu tag: output
Issued Time: 10 Tensor: 39 From: In_gpu, To: In_cpu tag: output
Issued Time: 12 Tensor: 43 From: In_gpu, To: In_cpu tag: output
Issued Time: 15 Tensor: 79 From: Not_Known, To: In_gpu tag: output
Issued Time: 16 Tensor: 83 From: Not_Known, To: In_gpu tag: output
Issued Time: 17 Tensor: 79 From: In_gpu, To: In_cpu tag: output
Issued Time: 19 Tensor: 83 From: In_gpu, To: In_cpu tag: output
Issued Time: 78 Tensor: 39 From: In_cpu, To: In_cpu tag: output
Issued Time: 142 Tensor: 43 From: In_cpu, To: In_cpu tag: output
Issued Time: 184 Tensor: 79 From: In_cpu, To: In_cpu tag: output
Issued Time: 221 Tensor: 83 From: In_cpu, To: In_cpu tag: output
Issued Time: 239 Tensor: 1 From: In_cpu, To: In_cpu tag: output
Issued Time: 265 Tensor: 5 From: In_cpu, To: In_cpu tag: output
Issued Time: 266 Tensor: 5 From: In_cpu, To: In_gpu tag: output
Issued Time: 348 Tensor: 1 From: In_cpu, To: In_gpu tag: output
Issued Time: 359 Tensor: 83 From: In_cpu, To: In_gpu tag: output
Issued Time: 400 Tensor: 79 From: In_cpu, To: In_gpu tag: output
Issued Time: 409 Tensor: 43 From: In_cpu, To: In_gpu tag: output
Issued Time: 432 Tensor: 39 From: In_cpu, To: In_gpu tag: output
Issued Time: 611 Tensor: 83 From: In_gpu, To: In_gpu tag: output
Issued Time: 613 Tensor: 79 From: In_gpu, To: In_gpu tag: output
Issued Time: 618 Tensor: 43 From: In_gpu, To: In_gpu tag: output
Issued Time: 620 Tensor: 39 From: In_gpu, To: In_gpu tag: output
Issued Time: 624 Tensor: 5 From: In_gpu, To: In_gpu tag: output
Issued Time: 626 Tensor: 1 From: In_gpu, To: In_gpu tag: output
