Issued Time: 2 Tensor: 1 From: Not_Known, To: In_gpu tag: output
Issued Time: 3 Tensor: 5 From: Not_Known, To: In_gpu tag: output
Issued Time: 4 Tensor: 1 From: In_gpu, To: In_cpu tag: output
Issued Time: 6 Tensor: 5 From: In_gpu, To: In_cpu tag: output
Issued Time: 7 Tensor: 1 From: In_cpu, To: In_cpu tag: output
Issued Time: 8 Tensor: 39 From: Not_Known, To: In_gpu tag: output
Issued Time: 9 Tensor: 43 From: Not_Known, To: In_gpu tag: output
Issued Time: 10 Tensor: 39 From: In_gpu, To: In_cpu tag: output
Issued Time: 12 Tensor: 43 From: In_gpu, To: In_cpu tag: output
Issued Time: 14 Tensor: 39 From: In_cpu, To: In_cpu tag: output
Issued Time: 15 Tensor: 79 From: Not_Known, To: In_gpu tag: output
Issued Time: 16 Tensor: 83 From: Not_Known, To: In_gpu tag: output
Issued Time: 17 Tensor: 79 From: In_gpu, To: In_cpu tag: output
Issued Time: 19 Tensor: 83 From: In_gpu, To: In_cpu tag: output
Issued Time: 33 Tensor: 43 From: In_cpu, To: In_cpu tag: output
Issued Time: 59 Tensor: 79 From: In_cpu, To: In_cpu tag: output
Issued Time: 83 Tensor: 83 From: In_cpu, To: In_cpu tag: output
Issued Time: 83 Tensor: 83 From: In_cpu, To: In_gpu tag: output
Issued Time: 86 Tensor: 5 From: In_cpu, To: In_cpu tag: output
Issued Time: 348 Tensor: 79 From: In_cpu, To: In_gpu tag: output
Issued Time: 385 Tensor: 43 From: In_cpu, To: In_gpu tag: output
Issued Time: 407 Tensor: 39 From: In_cpu, To: In_gpu tag: output
Issued Time: 431 Tensor: 5 From: In_cpu, To: In_gpu tag: output
Issued Time: 439 Tensor: 1 From: In_cpu, To: In_gpu tag: output
Issued Time: 610 Tensor: 83 From: In_gpu, To: In_gpu tag: output
Issued Time: 612 Tensor: 79 From: In_gpu, To: In_gpu tag: output
Issued Time: 617 Tensor: 43 From: In_gpu, To: In_gpu tag: output
Issued Time: 619 Tensor: 39 From: In_gpu, To: In_gpu tag: output
Issued Time: 623 Tensor: 5 From: In_gpu, To: In_gpu tag: output
Issued Time: 625 Tensor: 1 From: In_gpu, To: In_gpu tag: output
